.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  height: 50px;
  position: relative;
}

.navbar-logo {
  width: 170px;
  height: 47px;
  margin-right: auto;
  cursor: pointer;
  filter: invert(1);
  color: #ffffff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0.25rem 0.5rem; /* Reduced padding for a more compact look */
  transition: background 0.3s;
  border-radius: 8px; /* Rounded corners for the hover effect */
}


.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
  position: absolute; /* Absolute positioning */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.7); /* Black background with 70% opacity */
  z-index: 1000; 
}

@media (max-width: 768px) {
  .navbar {
      justify-content: center;
  }

  .navbar-content {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem; /* Reduced gap for a more compact look on mobile */
  }

  .menu-toggle {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      gap: 0.5rem; /* Reduced gap for a more compact look on mobile */
      width: 100%; /* Full width on mobile for easier touch */
      text-align: center; /* Center the text on mobile */
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links a {
      width: 100%; /* Full width for easier touch on mobile */
      padding: 0.5rem; /* Increased padding for a better touch experience */
  }
}
